* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* XL devices (default) */

/* ...code... */

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  /* ...code... */
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  /* ...code... */
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  /* ...code... */
}
