@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
$font: 'Varela Round', sans-serif;
$bg-purple: #72008f;
$main-purple: #16021d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
  color: $main-purple;
}

/* XL devices (default) */

body {
  background-color: $bg-purple;
}

.nav {
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.tic-tac-toe-board {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  margin: 15px auto;
  width: 470px;
  height: 470px;
}

.square {
  border: $main-purple solid 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 95%;
    height: 95%;
    filter: invert(2%) sepia(68%) saturate(6425%) hue-rotate(284deg) brightness(82%) contrast(100%);
  }
}

.bdr-top-none {
  border-top: none;
}

.bdr-left-none {
  border-left: none;
}

.bdr-right-none {
  border-right: none;
}

.bdr-bottom-none {
  border-bottom: none;
}

/* Large devices */
@media only screen and (max-width: 1199.98px) {
  /* ...code... */
}

/* Medium devices */
@media only screen and (max-width: 991.98px) {
  /* ...code... */
}

/* Small devices */
@media only screen and (max-width: 767.98px) {
  .nav {
    font-size: 30px;
  }

  .tic-tac-toe-board {
    width: 100vw;
    height: 100vw;
  }
}
